    <div class="container">
        <div class="bg">
            <div class="row">
                <div class="mx-auto" style="width: 200px;">
                    <h1 class="about">About</h1>
                </div>
            </div>
            <div class="row">
                <div class="about-text mx-auto" style="width: 1000px;">
                    <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
                    <p>お⼦様からお年寄りの⽅までお召し上がりいただけるよう、</p>
                    <p>様々なバリエーションをご⽤意しております。</p>
                    <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。</p>
                    <p>ぜひご注⽂ください。</p>
                    <div class="naganocake_rogo">
                    <%= link_to root_path do %>
                    <%= image_tag '/assets/linkedin_banner_image_1.png', :size => '400x100' %> <% end %>
                    </div>
                </div>
                </div>
            </div>
        </div>