<div class="body">
    <div class="container">
        <div class="row">
            <div class="mx-auto" style="width: 400px;">
                <div class="border" style="padding 10px">
                    <p>ようこそ、ながのCAKEへ！</p>
                    <p>このサイトは、ケーキ販売のECサイトになります。</p>
                    <p>会員でない⽅も商品の閲覧はできますが、</p>
                    <p>購⼊には会員登録が必要になります。</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-hover table-inverse">
                    <thead>
                        <tr>
                            <% @products.each do |product| %>
                        <tr>
                            <td>
                                <%= link_to product.name, product_path(product.id) %>
                            </td>
                                                    <td>
                        <%= attachment_image_tag product, :product_image, :fill, 200, 100, class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
                        </td>
                        <td>
                                <%= product.price %>円（税抜）
                        </td>
                            <% end %>
                <%= paginate @products %>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
