<div class="body">
    <div class="container">
        <div class="row">
            <div class="mx-auto" style="width: 1000px;">
                <h1>商品一覧</h1>
                <p>全X件</p>
                <p>※ ジャンル検索の場合、「商品⼀覧」の部分は「(ジャンル名)⼀覧」に変更する<br>
                    <例>「ケーキ⼀覧」
                </p>
            </div>
            <div class="block">
                <div class="border" style="padding 10px">
                    例①
                </div>
                <div class="border" style="padding 10px">
                    例①
                </div>
                <div class="border" style="padding 10px">
                    例①
                </div>
                <div class="border" style="padding 10px">
                    例①
                </div>
                <div class="border" style="padding 10px">
                    例①
                </div>
            </div>
        </div>
    </div>
</div>