<div class="body">
    <div class="container">
        <div class="row">
            <div class="mx-auto" style="width: 1000px;">
                <h1>商品一覧</h1>
                <p>全 X 件</p>
                <p>※ ジャンル検索の場合、「商品⼀覧」の部分は「(ジャンル名)⼀覧」に変更する<br>
                    <例>「ケーキ⼀覧」
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-hover table-inverse">
                    <thead>
                        <tr>
                            <% @products.each do |product| %>
                        <tr>
                            <td>
                                <%= link_to product.name, product_path(product.id) %>
                            </td>
                                                    <td>
                        <%= attachment_image_tag product, :product_image, :fill, 200, 100, class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
                        </td>
                        <td>
                                ¥ <%= product.add_tax_price.to_s(:delimited) %>（税込）
                        </td>
                            <% end %>
                <%= paginate @products %>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>